<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title mb-4">Add New Club Id</h4>

        <form [formGroup]="clubForm">
          <div class="mb-3">
            <label for="formrow-firstname-input">Club Name </label>
            <input
              type="text"
              class="form-control"
              id="formrow-firstname-input"
              formControlName="clubName"
            />
          </div>

          <div class="mb-3">
            <label for="formrow-firstname-input">Club Code </label>
            <input
              type="text"
              class="form-control"
              id="formrow-firstname-input"
              formControlName="clubCode"
            />
          </div>

          <div>
            <button
              type="submit"
              class="btn btn-primary w-md"
              (click)="onSubmit()"
            >
              Submit
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
